:global {
  #root,
  body,
  html {
    height: 100%;
    font-size: 16px;
  }
  .mwoa-menu-wraper {
    .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
      border-right: 0;
      background-color: #f36317;
      color: #fff;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    .ant-menu-dark .ant-menu-item-active,
    .ant-menu-dark .ant-menu-submenu-active,
    .ant-menu-dark .ant-menu-submenu-title:hover {
      background-color: transparent;
      color: #f36317;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    .ant-menu-inline > .ant-menu-item,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-item-group-list > .ant-menu-item,
    .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
      padding: 0 16px 0 28px;
      font-size: 16px;
      line-height: 42px;
      height: 42px;
    }
  }
}
